﻿
.treeDiv
{
   font-family: verdana,arial,sans-serif;
   font-size: 70.5%;
   font-weight: normal;
   background-color: transparent;   /* main background color */
   color: #000000;               /* text color */ 
   overflow: auto;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 2px;  // 8px is better left padding but obscures the scroll bar in Chrome */
}
.treeNode
{
   white-space: nowrap;
   text-indent: -14px;
   margin: 5px 2px 5px 14px;
}

A.treeUnselected:hover, A.treeSelected:hover

{
   border-top: 1px solid #999999;
   border-right: 1px solid #999999;
   border-left: 1px solid #999999;
   border-bottom: 1px solid #999999;
   background-color: #CCCCCC;	     /* Rollover color */
   color: #000000;                      /* Rollover text color */
   text-decoration: none;

}

A.treeUnselected, A.treeSelected

{
   
   color: Black;

   padding: 1px 3px 1px 3px;

   text-decoration: none;

}

A.treeSelected

{

   background-color: #FFFFFF;	   /* Node selection color */
   border-top: 1px solid #999999;

   border-right: 1px solid #999999;
   border-left: 1px solid #999999;
   border-bottom: 1px solid #999999;
   color: #000000;               /* selected text color */ 
}
A.treeUnselected

{
   
   border-top: solid 1px transparent;	    /* Non Select color - Should match background color */
   border-right: solid 1px transparent;

   border-left: solid 1px transparent;
   border-bottom: solid 1px transparent;
   background-color: transparent;


   color: #000000;               /* text color */ 
}

.treeSubnodes

{

   display: block;

}

.treeSubnodesHidden

{
  
   display: none;
}

.treeNode IMG.treeNoLinkImage, .treeNode IMG.treeLinkImage

{
   
   width: 9px;		   /* Icon size in pixels*/
   height: 9px;
   
   margin-left: 5px;
   
   margin-right: 0px;

}

.treeNode IMG.treeLinkImage

{
   
   cursor: pointer;

}
